* {
    padding: 0;
    margin: 0
}

#navbar {
    background: #9c27b0;
}

#logo {
    margin-left: 30px
}

.your-events {
    width: 300px;
    margin: 0 auto
}

#your-events-card {
    padding: 10px 50px
}

#info-card {
    min-height: 100px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 20px
}

.actor-info {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.actor-info .actor-avatar img {
    height: 50px;
}

.repo-info {
    display: inherit
}

@media only screen and (max-width: 600px) {
    #logo {
        margin: 0
    }
}